.button {
  background-color: rgb(54, 136, 219);
  color: black !important;
  border-color: rgb(54, 136, 219);
  border: 2px solid rgb(19, 19, 19);
  font-size: 1rem;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: rgb(19, 19, 19);
  color: rgb(54, 136, 219) !important;
  border-color: rgb(19, 19, 19);
  border: 2px solid rgb(54, 136, 219);
  font-size: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
}
